.container{
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    left: 50%;
    width: 700px;
    height: 300px;
    border: 1px solid black;
    border-top: 50px rgb(173, 173, 255) solid;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    background-color: rgb(252, 239, 225);
}
form{
    display: grid;
    gap: 2em;
    justify-items: center;
}
form input{
    text-align: center;
    height: 50px;
    width: 70%;
    border-radius: 30px;
    border: 3px solid;
    font-size: 2em;
}
.container h1{
    font-family: sans-serif;
}